$simple-background-color: #c6c8d1;
$primary-text-color: #c6c8d1;

$valid-value-color: #b4be82;
$error-value-color: #e27878;

$ui-base-color: #161821;
$ui-base-lighter-color: #818596;
$ui-primary-color: #a093c7;
$ui-secondary-color: #c6c8d1;
$ui-highlight-color: #a093c7;

@import 'application';
